.RenderDialogIcon {
    background-image: url(img/camera_icon_white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.PanoramaDialogIcon {
    background-image: url(img/panorama_icon_white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

#RenderDialogContainer {
    bottom: 80px;
    right: 10px;
    width: 800px;
    height: 420px;
    resize: none;
}

#PanoramaDialogContainer {
    top: 80px;
    right: 10px;
    width: 800px;
    height: 420px;
    resize: none;
}

.imagePresentation {
    width: auto;
    height: auto;
    min-height: 300px;
    /*min-width: 300px;*/
    max-width: 100%;
    /*max-height: 100%;*/
    margin-left: 0;
    margin-right: 0;
}

.imageContainerClass {
    margin: auto;
    margin-right: 1px;
}

.workarea {
    display: grid;
    grid-template-columns: auto 160px;
    background-color: black;
    margin:2px;
}

/*#rendertasks {*/
/*    !*display: grid;*!*/
/*    !*grid-template-columns: auto;*!*/
/*    user-select: auto;*/
/*}*/

/*#rendertasks img {*/
/*    width: 160px;*/
/*    height: auto;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.renderlist {
    /*display: grid;*/
    /*grid-template-columns: auto;*/
    user-select: auto;
}

.renderlist img {
    width: 160px;
    height: auto;
    margin: 0;
    padding: 0;
    border-left: 1px solid #959494;
}



#renderPreview {
    border: 1px solid black;
}

.renderTrigger {
    border: 2px solid white;
    height: 81px;
}

.renderTrigger H1 {
    text-align: center;
    vertical-align: center;

}

.renderTrigger:hover {
    color: black;
    background-color: #D4D4D4;

}