.RenderDialogIcon {
    background-image: url(img/camera_icon_white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.PanoramaDialogIcon {
    background-image: url(img/panorama_icon_white.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

#RenderDialogContainer {
    top: 100px;
    right: 10px;
    width: 800px;
    height: 600px;
    resize: none;
}

#PanoramaDialogContainer {
    top: 100px;
    right: 10px;
    width: 800px;
    height: 600px;
    resize: none;
}

#renderingImage {
    width: 100%;
    height: 100%;
}

#imageContainer {

}